.ui__button {
  white-space: nowrap;
  cursor: pointer;

  appearance: auto;
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: rgb(239, 239, 239);
  margin: 0em;
  padding: 1px 6px;
  border-width: 1px;
  border-style: outset;
  border-color: rgb(118, 118, 118);
  border-image: initial;

  min-height: 2em;
  min-width: 3em;

  padding: var(--ui-padding);
  border-radius: var(--ui-radius);
  border: none;
  color: #eee;
  background: var(--ui-color-primary);
  font-size: 16px;
  font-weight: 500;

  transition: background 0.2s,color 0.2s;
  box-shadow: 0 1px 4px -2px black, inset 0 2px 1px -1px rgb(255 255 255 / 10%);

  cursor: pointer;

  &:hover {
    color: #81edff;
  }

  &--cancel {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: var(--ui-color-primary);
  }
}