:root {
  --ui-color-foreground: #2f2f2f;
  --ui-color-background: #eeeeee;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.02);

  font-family: Nunito, sans-serif;
  color: #222;

  /* ui theme variables */
  --ui-color-primary: #41b883;
  --ui-color-danger: #ea5455;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}