:root {
  --ui-color-primary: #1d7cbf;
  --ui-color-danger: #ea5455;
  --ui-color-hover: rgba(255,255,255, 0.08);
  --ui-color-z1: rgba(0,0,0, 0.1);

  --ui-duration-snap: .2s;
  --ui-duration-quick: .3s;
  --ui-duration-smooth: .7s;
  --ui-duration-slow: 1s;
}