@import '@/packages/cms/themes/base/classes/coolDetails.scss';

.UiForm {
  padding: 8px 12px;

  & > .UiInput {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  fieldset {
    border: 1px inset #555;
    border-radius: 5px;
    padding: 8px;
    margin: 10px 0;

    min-inline-size: auto;  // OMG.  El CSS nativo de fieldset es "min-inline-size: min-content;" y eso previene hacer overflow en contenedores angostos

    &:first-child {
      margin-top: 0;
    }

    legend {
      font-size: 14px;
      font-weight: bold;
      padding: 0 12px;
      opacity: 0.7;
    }

    & > .UiInput {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  details {
    @extend .coolDetails;
  }

  /* UiInputCode inside UiForm */
  .UiInputCode {
    .cm-editor { height: 100%; max-height: 400px; }
    .cm-scroller { overflow: auto }
  }
}