.UiInputNativeElement {
  box-sizing: border-box;
  min-height: 42px;

  outline-color: var(--ui-color-primary);
  padding: 8px 12px;

  border-radius: 5px;
  border: 1px solid rgba(0,0,0, 0.15);
  border-top: 1px solid rgba(0,0,0, .26);
  border-left: 1px solid rgba(0,0,0, .26);

  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fcfcfc;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:focus {
    outline: 1px solid var(--ui-color-primary);
  }
}

textarea.UiInput__element {
  width: 100%;
  min-height: 100px;
  font-family: inherit;
  font-size: inherit;
}

.UiInput {
  &__label {
    font-weight: bold;
    font-size: 14px;
    padding: 4px 0;
    display: block;
  }

  &__subtext {
    font-size: 14px;
    opacity: 0.8;
  }

  &__element {
    @extend .UiInputNativeElement;
  }

  &__errors {
    list-style: none;
    margin: 0;
    padding: 3px;

    font-weight: bold;
    font-size: 14px;
    color: #ff8c8c;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--invalid {
    .UiInput {
      &__element {
        outline-color: #ea5455;
      }
    }
  }
}

input,
textarea,
select {
  &.UiInput {
    @extend .UiInputNativeElement;
  }
}