.UiButton {
  --loading-transition-duration: 0.2s;

  --ui-button-padding: 8px 16px;

  cursor: pointer;
  white-space: nowrap;

  box-sizing: border-box;
  min-height: 40px;

  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;

  background-color: var(--ui-color-primary);
  color: #eee;
  font: inherit;
  font-weight: bold;

  transition: background-color var(--loading-transition-duration), color var(--loading-transition-duration);
  box-shadow: 0 1px 4px -2px black, inset 0 2px 1px -1px rgb(255 255 255 / 10%);

  /* darkener layer */
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.2);
    pointer-events: none;
    opacity: 0;
    border-radius: 5px;

    transition: opacity var(--ui-duration-snap);
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  &--cancel {
    background: transparent !important;
    border: 0;
    box-shadow: none;
    color: var(--ui-color-primary);
  }

  &--loading {
    background: orange !important;
    color: #fff;
  }

  &--danger,
  &--error {
    background: var(--ui-color-danger) !important;
    color: #fff;
  }
}

// Native elements <button class="UiButton">
button.UiButton {
  padding: var(--ui-button-padding);

  &--component {
    padding: 0;
    --ui-item-padding: var(--ui-button-padding);
  }
}

// Loading Animation
.UiButton {
  position: relative;

  .UiItem {
    &__icon,
    &__actions {
      overflow: hidden;
      max-width: 20px;
      min-width: 0;
      transition: 
        opacity var(--loading-transition-duration),
        max-width var(--loading-transition-duration) ease-in;
    }

    &__actions {
      opacity: 0;
      max-width: 0;
      
      // "hide"
      position: absolute;
      right: 0;
    }
  }

  &--loading {
    .UiItem {
      &__icon {
        max-width: 0;
      }

      &__actions {
        position: initial;
        opacity: 1;
        max-width: 20px;
      }
    }
  }
}