:root {
  --code-left-width: 32px;
  --code-left-border: 1px solid #cccccc55;
}

.UiCodeContainer {
  background-color: field;

  .UiCodeLine,
  .UiCodeBox,
  .UiCodeGroup {
    &__left {
      opacity: 0.3;
    }
  }
}

.UiCodeContainer:hover {

  .UiCodeLine,
  .UiCodeBox,
  .UiCodeGroup {
    &__left {
      opacity: 1;
    }
  }
}

.UiCodeLine,
.UiCodeBox,
.UiCodeGroup {
  &__icon {
    width: 20px;
    height: 20px;
  }

  &__left {
    margin-right: 3px;
  }
}

.UiCodeGroup {
  &__face {
    display: flex;
    align-items: stretch;

    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: var(--ui-color-hover);
    }
  }

  &__left {
    width: var(--code-left-width);
    border-right: var(--code-left-border);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__body {
    flex: 1;
    margin-left: var(--code-indent-width, 0px);
  }

  &__text {
    padding: 6px;
  }
}

/* open / collapsed */
.UiCodeGroup {
  &__slot {
    display: none;
  }

  &--open>.UiCodeGroup__slot {
    display: block;
  }
}

/* Indentation */
// .UiCodeGroup__slot {
//   --code-indent-width: calc(var(--code-indent-width, 0px) + 6px);
// }
.UiCodeGroup {
  --code-indent-step: 8px;
}

.UiCodeGroup__slot {
  --code-indent-width: calc(var(--code-indent-step) * 1);
}

.UiCodeGroup__slot .UiCodeGroup__slot {
  --code-indent-width: calc(var(--code-indent-step) * 2);
}

.UiCodeGroup__slot .UiCodeGroup__slot .UiCodeGroup__slot {
  --code-indent-width: calc(var(--code-indent-step) * 3);
}

.UiCodeGroup__slot .UiCodeGroup__slot .UiCodeGroup__slot .UiCodeGroup__slot {
  --code-indent-width: calc(var(--code-indent-step) * 4);
}

.UiCodeGroup__slot .UiCodeGroup__slot .UiCodeGroup__slot .UiCodeGroup__slot .UiCodeGroup__slot {
  --code-indent-width: calc(var(--code-indent-step) * 5);
}

//////////////////////////

.UiCodeBox {
  display: flex;

  &:hover {
    background-color: var(--ui-color-hover);
  }

  &__left {
    width: var(--code-left-width);
    border-right: var(--code-left-border);

    padding-top: 8px;
    display: flex;
    justify-content: center;

    user-select: none;
    cursor: pointer;
  }

  &__body {
    flex: 1;
    margin-left: var(--code-indent-width, 0px);
  }

  &__summary {
    padding: 4px 8px;

    display: flex;
    align-items: center;

    user-select: none;
    cursor: pointer;

    &> :first-child {
      flex: 1;
    }
  }

  &__actions {
    margin-left: auto;
  }

  &__box {
    border-radius: 4px;
    background-color: var(--ui-color-z2);
    margin: 4px;
  }

  &__slot {
    padding: 4px;
  }

  &__delete {
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }

  &--endangered &__box {
    background-color: var(--ui-color-danger);
  }

  &--open>&__body>&__box {
    margin-bottom: 1rem;
  }
}

// open / collapsed states
.UiCodeBox>.UiCodeBox__body>.UiCodeBox__box>.UiCodeBox__slot {
  display: none;
}

.UiCodeBox--open>.UiCodeBox__body>.UiCodeBox__box>.UiCodeBox__slot {
  display: block;
}

///////////////////////////////////////

.UiCodeLine {
  display: flex;
  user-select: none;

  &__left {
    width: var(--code-left-width);
    border-right: var(--code-left-border);

    display: flex;
    justify-content: center;
    padding-top: 8px;
  }

  &__body {
    flex: 1;
    margin-left: var(--code-indent-width, 0px);
  }

  &__text {
    font-weight: bold;
    font-size: 0.8rem;
    margin: 4px;
    padding: 6px 4px;
  }
}




//////////////////////////////////////

// .StmtChain--dragging .StmtChain__items {
//   min-height: 1rem;
//   border-radius: 4px;
//   border: 2px dashed #ddd;
// }

.StmtChainItem {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;

  &--endangered {
    background-color: rgba(255, 0, 0, 0.2);
  }

  &__handle {
    cursor: move;
    width: 32px;
    height: 32px;
    position: relative;
    top: 0.3em;
  }

  &__statement {
    flex: 1;
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 7px;
  }

  &__actionIcon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: var(--ui-color-hover);
    }
  }

  &__drag {
    cursor: move;
  }
}

.StmtIf+.StmtChainItem__actions {
  padding: 4px 7px;
}

.StmtChain {
  &__dropzone {
    .UiCodeLine__text {
      border-radius: 4px;
      border: 2px dashed #ddd;
      height: 1rem;
    }

    display: none;
  }
}

.StmtChain__items .StmtChain .StmtChain__dropzone {
  display: flex;
}