@at-root {
  :root,
  .color-scheme-light {
    --ui-table-color-header: #eeeef0;
    --ui-table-color-cell: #fff;
    --ui-table-color-border: #ddd;
    // --ui-table-color-hover: var(--ui-color-hover); // AVOID Transparent backgrounds, since they get fucky on :hover
    --ui-table-color-hover: #f4f4f4;
  }

  .color-scheme-dark {
    --ui-table-color-header: #525255;
    --ui-table-color-cell: #3e3e42;
    --ui-table-color-border: #dddddd33;
    // --ui-table-color-hover: var(--ui-color-hover);
    --ui-table-color-hover: #525255ee;
  }
}

.UiDataTable--fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--ui-color-background);
  z-index: 2;
  max-height: none;
  max-width: none;
}


button.UiDataTable__toolbarItem {
  font-family: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;
}


.UiDataTable {
  display: flex;
  flex-direction: column;

  &__toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    padding: 4px;

    background-color: var(--ui-table-color-header);
    border: 1px solid var(--ui-table-color-border);
    border-bottom: 0;
  }

  &__toolbar-right {
    margin-left: auto;
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  &__toolbarItem {
    --ui-item-padding: 8px 12px;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: var(--ui-color-hover) !important;
    }

    font-size: 0.9em;
    font-weight: bold;

    .UiItem__subtext {
      font-weight: normal;
    }
  }

  &__columnSelect {
    width: 100%;
  }

  &__body {
    flex: 1;
    overflow: auto;
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    th {
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
      background-color: var(--ui-table-color-header);
    }

    th,
    td {
      border-right: 1px solid var(--ui-table-color-border);
      border-bottom: 1px solid var(--ui-table-color-border);
      &:first-child {
        border-left: 1px solid var(--ui-table-color-border);
      }
    }

    thead tr:first-child th {
      border-top: 1px solid var(--ui-table-color-border);
    }

    tbody {
      td {
        background-color: var(--ui-table-color-cell);
        vertical-align: top;
        padding: 0;
      }

      tr {
        cursor: pointer;
        &:hover td {
          background-color: var(--ui-table-color-hover);
        }
      }
    }


    // Sticky first row and column
    thead {
      position: sticky;
      top: 0;
      z-index: 2;
    }

    th:first-child,
    td:first-child {
      position: sticky;
      left: 0;
      z-index: 1;
    }

    th:first-child {
      z-index: 2;
    }
  }


  // Cells
  &__output {
    --ui-item-padding: 2px 10px;
    margin: 5px 8px;
  }

  &__header-title {
    flex: 1;
    align-self: stretch;

    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 10px;

    font-size: 0.9em;
  }

  &__header {
    user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;

    &--ordered {
      .UiDataTable__header-title::before {
        color: var(--ui-color-primary);
        margin-right: 8px;
      }

      &-asc .UiDataTable__header-title::before {
        content: '\25B4' // up arrow triangle
      }

      &-desc .UiDataTable__header-title::before {
        content: '\25BE' // down arrow triangle
      }
    }

    --dropzone-width: 4px;

    &--dropping {
      &-before {
        border-left: var(--dropzone-width) solid var(--ui-color-primary) !important;
      }
      &-after {
        border-right: var(--dropzone-width) solid var(--ui-color-primary) !important;
      }
    }
  }

  &__columnPopup {
    align-self: stretch;
    display: flex;
    align-items: stretch;
    justify-content: center;

    .UiPopover__trigger {
      display: flex;
      align-items: stretch;
    }
  }

  &__columnIcon {
    align-self: stretch;
    width: 30px;
    font-size: 0.8em;

    opacity: 0.4;

    cursor: pointer;
    &:hover {
      background-color: rgba(255,255,255, 0.6);
    }
  }

  .UiDataTable__header:hover .UiDataTable__columnIcon {
    opacity: 1;
  }

  &__menuOptions {
    --ui-item-padding: 8px 12px;
    .UiItem {
      user-select: none;
      cursor: pointer;
      &:hover {
        background-color: var(--ui-color-hover);
      }
    }
  }

  /* Specific output formats */
  .UiOutput--textarea {
    white-space: pre-wrap;
    max-height: 6rem;
    overflow: auto;
  }
}



.UiDataTable--dragging {
  .UiDataTable__header > * {
    pointer-events: none;
  }
}


.UiDataTable {
  &__settings {
    max-height: 60vh;

    display: flex;
    flex-direction: column;
    & > section {
      flex: 1;
      overflow: auto;
    }

    footer {
      display: flex;
      flex-wrap: nowrap;
      gap: 6px;
      padding: 6px;
    }
  }
}


/* MOBILE FRIENDLY table */
@media only screen and (max-width: 768px) {
  .UiDataTable {
    &__table {
      display: block;

      thead, tbody, th, td, tr {
        display: block;
      }

      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tr {
        margin: 8px 0.5rem 2rem 0.5rem;
        border-radius: 4px;
        background-color: var(--ui-color-z1);
        padding: 8px 5px;
      }

      td {
        display: flex;
        flex-wrap: wrap;
        border: 0 !important;
        background-color: transparent !important;

        & > * {
          flex: 3;
        }

        &::before {
          content: var(--ui-table-title);
          flex: 1;
          display: block;
          padding: 5px 12px;
          font-size: 14px;
          font-weight: bold;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 0;
        }
      }
    }
  }
}


/* Loading bar */
.UiDataTable--loading {
  .UiDataTable__toolbar {
    position: relative;

    &::after {
      content: '';
      border: 2px solid var(--ui-color-primary);
      border-radius: 2px;
      display: block;

      position: absolute;
      top: 100%;
      z-index: 9;

      animation: borealisBar 2s linear infinite;
    }
  }
}

@keyframes borealisBar {
  0% {
    left:0%;
    right:100%;
    width:0%;
  }
  20% {
    left:0%;
    right:75%;
    width:40%;
  }
  85% {
    right:0%;
    left:75%;
    width:20%;
  }
  100% {
    left:100%;
    right:0%;
    width:0%;
  }
}