@at-root :root, .color-scheme-light {
  // --details-color-open: rgba(0, 0, 0, 0.05);
  // --details-color-hover: rgba(255, 255, 255, 0.03);

  --details-arrow-height: 8px;
  --details-arrow-width: 12px;
  --details-arrow-color: #888;
}

@at-root .color-scheme-dark {
  // --details-color-open: rgba(255, 255, 255, 0.06);
  // --details-color-hover: rgba(255, 255, 255, 0.03);

  --details-arrow-height: 8px;
  --details-arrow-width: 12px;
  --details-arrow-color: #ccc;
}

.UiDetails {
  --details-color-open: var(--ui-color-z1);
  --details-color-hover: var(--ui-color-hover);

  border-radius: 4px;
  box-sizing: border-box;
  transition: background-color var(--details-transition-duration) ease;

  & > summary {
    border-radius: 4px;
    padding: 6px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: var(--details-color-hover);
    }
  }

  &__item {
    flex: 1;
  }

  &__deleter {
    width: 32px;
    height: 32px;

    &:hover {
      color: #fff;
    }
  }

  & > .UiDetails__contents {
    padding: 6px 8px;
  }

  &[open] {
    background-color: var(--details-color-open);

    & > summary:hover {
      background-color: transparent !important;
    }
  }

  &--closing {
    background-color: transparent !important;
  }

  &--deleting {
    background-color: rgba(255, 0, 0, 0.2) !important;
  }
}


// Animated summary arrow
.UiDetails {
  & > summary {
    // Hide the default marker
    &::marker,
    &::-webkit-details-marker {
      display: none;
      content: "";
    }

    // Create a triangle marker with CSS borders
    &::before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      margin: 0 4px;

      border-style: solid;
      border-width: calc(var(--details-arrow-height) / 2) calc(var(--details-arrow-width) / 2);
      border-color: transparent transparent transparent var(--details-arrow-color);

      transform: rotate(0);
      transform-origin: .2rem 50%;
      transition: var(--details-transition-duration) transform ease;
    }
  }

  &--closing > summary::before {
    transform: rotate(0) !important;
  }

  &[open] {
    & > summary::before {
      transform: rotate(90deg);
    }
  }
}
