.UiDrawerStack {

  &__select {
    select {
      display: block;
      width: 100%;
      border-radius: 0 !important;
      padding: 8px 12px !important;
    }
  }

  &__drawer {
    border-top: 1px solid var(--ui-color-ridge-top);
    border-bottom: 1px solid var(--ui-color-ridge-bottom);

    border-radius: 0;

    & > summary {
      border-left: 0;
      border-right: 0;
      padding: 11px;
      border-radius: 0;

      font-size: 0.9em;
      font-weight: bold;
    }
  }

  &__component {
    padding: 0 0 12px 0;
  }
}


.old-UiDrawerStack {
  &__trigger {
    --ui-item-padding: 8px 12px 8px 4px;
    user-select: none;
    display: flex;
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255, 0.16);
    }

    .UiItem__text {
      font-weight: 600;
      font-size: 0.9em;
    }

    & > .UiIcon {
      padding: 0 0 0 12px;
    }
  }

  &__drawer {
    border-top: 1px solid rgba(255,255,255, 0.08);
    &:first-child {
      border-top: 0;
    }

    &--open {
      .UiDrawerStack__trigger {
        background-color: rgba(255,255,255, 0.05);
        // .UiItem__icon {
        //   color: var(--ui-color-primary);
        // }
      }
    }

    .UiDrawer__contents {
      background-color: rgba(255,255,255, 0.03);
    }
  }

  &__component {
    padding: 6px 0 32px 16px;
  }


  /* Item left line animation */
  &__trigger {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;

      top: 0;
      left: 0;
      bottom: 0;
      width: 4px;

      border-radius: 2px;
      background-color: var(--ui-color-primary);

      transform-origin: top;
      transform: scaleY(0);
      transition: transform var(--ui-duration-snap);
    }
  }

  &__drawer--open {
    .UiDrawerStack__trigger {
      &::after {
        transform: scaleY(1);
      }
    }
  }
}