.UiForm {
  // padding: 8px 12px;
  padding: 7px;

  &:invalid {
    input[type=submit] {
      opacity: 0.6;
    }
  }

  & > .UiInput {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  fieldset {
    position: relative;

    border: 1px inset var(--ui-color-ridge-top);
    border-radius: 5px;
    padding: 4px;
    margin: 16px 0;

    min-inline-size: auto;  // OMG.  El CSS nativo de fieldset es "min-inline-size: min-content;" y eso previene hacer overflow en contenedores angostos

    &:first-child {
      margin-top: 0;
    }

    legend {
      font-size: 12px;
      font-weight: bold;
      padding: 0 12px;
      opacity: 0.7;
    }
  }

  /* UiInputCode inside UiForm */
  .UiInputCode {
    .cm-editor {
      height: 100%;
    }
    .cm-scroller { overflow: auto }
  }
}