.UiForm--wide {
  --ui-form-label-width: 180px;

  .UiInput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__label {
      min-width: var(--ui-form-label-width);
    }

    &__body {
      flex: 1;
    }

    &__subtext,
    &__errors {
      width: 100%;
      margin: 0;
      margin-left: var(--ui-form-label-width);
    }

    &--invalid .UiInput__subtext {
      display: none;
    }
  }
}