@at-root {
  .color-scheme-light {
    .UiInput__element,
    input.UiInput,
    textarea.UiInput,
    select.UiInput {
      background-color: #fcfcfc;
    }
  }

  .color-scheme-dark {
    .UiInput__element,
    input.UiInput,
    textarea.UiInput,
    select.UiInput {
      background-color: #595959;
    }
  }
}

.UiInputNativeElement {
  box-sizing: border-box;
  // min-width: max-content; // no idea why I added this in the first place
  outline-color: var(--ui-color-primary);
  padding: 7px;

  border-radius: 5px;
  border: 1px solid rgba(0,0,0, 0.15);
  border-top: 1px solid rgba(0,0,0, .26);
  border-left: 1px solid rgba(0,0,0, .26);

  font: inherit;
  color: inherit;

  &:focus {
    outline: 1px solid var(--ui-color-primary);
  }
}

textarea.UiInput__element {
  width: 100%;
  min-height: 100px;
  font: inherit;
}

.UiInput {
  user-select: none;

  &__label {
    font-weight: bold;
    font-size: 0.9em;
    display: block;
  }

  &__subtext {
    font-size: 0.9em;
    opacity: 0.8;
  }

  &__element {
    @extend .UiInputNativeElement;

    &[type=color] {
      padding: 0;
      margin: 0;
      border: 0;
      // min-width: 50px;
      min-width: 20px;
      max-width: 60px;
    }
  }

  // The invisible text field added to support HTML5 validation
  // below custom components:
  &__validatorInput {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    display: block;
    width: 0;
    height: 0;

    opacity: 0;
    pointer-events: none;
    z-index: -3;
  }

  &__errors {
    list-style: none;
    margin: 0;
    padding: 3px;

    font-weight: bold;
    font-size: 14px;
    color: #ff8c8c;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--invalid {
    .UiInput {
      &__element {
        outline-color: #ea5455;
      }
    }
  }

  &--required {
    .UiInput__label::after {
      content: ' *';
      opacity: 0.3;
    }
  }

  &--invalid {
    .UiInput__label::after {
      color: #ea5455;
      opacity: 1;
    }
  }

  // HIDE errors in required BUT empty fields
  &.UiInput--required.UiInput--empty {
    .UiInput {
      &__errors {
        display: none;
      }
    }
  }
}

.UiInput {
  &--type-checkbox {
    label {
      cursor: pointer;
    }
  }
}

input,
textarea,
select {
  &.UiInput {
    @extend .UiInputNativeElement;
  }
}