// @at-root {
//   .color-scheme-light {
//     .UiInput__element,
//     input.UiInput,
//     textarea.UiInput,
//     select.UiInput {
//       background-color: #fcfcfc;
//     }
//   }

//   .color-scheme-dark {
//     .UiInput__element,
//     input.UiInput,
//     textarea.UiInput,
//     select.UiInput {
//       background-color: #595959;
//     }
//   }
// }

.UiInputNativeElement {
  box-sizing: border-box;
  padding: 6px 8px;

  outline-color: var(--ui-color-primary);
  border-radius: 4px;
  border: 1px solid rgba(0,0,0, 0.15);
  border-top: 1px solid rgba(0,0,0, .26);
  border-left: 1px solid rgba(0,0,0, .26);

  min-height: 38px;

  font: inherit;
  color: fieldtext;
  background-color: field;

  &:focus {
    outline: 1px solid var(--ui-color-primary);
  }
}

textarea.UiInput__element {
  min-height: 100px;
  font: inherit;
}

.UiInput {
  user-select: none;

  &__label {
    font-weight: bold;
    font-size: 0.9em;
  }

  &__subtext {
    font-size: 0.9em;
    opacity: 0.8;
  }

  input[type=text].UiInput__element, // So that it prioritizes
  &__element {
    @extend .UiInputNativeElement;

    &[type=color] {
      padding: 0;
      margin: 0;
      border: 0;
      // min-width: 50px;
      min-width: 20px;
      max-width: 60px;
    }
  }

  // The invisible text field added to support HTML5 validation
  // below custom components:
  &__validatorInput {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    display: block;
    width: 0;
    height: 0;

    opacity: 0;
    pointer-events: none;
    z-index: -3;
  }

  &__errors {
    list-style: none;
    margin: 0;
    padding: 3px;

    font-weight: bold;
    font-size: 14px;
    color: #ff8c8c;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--invalid {
    .UiInput {
      &__element {
        outline-color: #ea5455;
      }
    }
  }

  &--required {
    .UiInput__label::after {
      content: ' *';
      opacity: 0.3;
    }
  }

  &--invalid {
    .UiInput__label::after {
      color: #ea5455;
      opacity: 1;
    }
  }

  // HIDE errors in required BUT empty fields
  &.UiInput--required.UiInput--empty {
    .UiInput {
      &__errors {
        display: none;
      }
    }
  }
}

/* Type specific styles */
.UiInput {
  /* type="checkbox" */
  &--type-checkbox {
    .UiInput__body label {
      display: flex;
      align-items: center;
      border-radius: 4px;

      input {
        cursor: pointer;
        margin: 0 1em;
        outline: none !important;
      }

      cursor: pointer;
      &:hover {
        background-color: var(--ui-color-hover);
      }
    }
  }

  /* type="translation" */
  &--type-translation {
    .TranslationInput__input {
      @extend .UiInputNativeElement;
    }
  }
}

input,
textarea,
select {
  &.UiInput {
    @extend .UiInputNativeElement;
  }
}