@at-root {
  :root,
  .color-scheme-light {
    --ui-table-color-header: #eeeef0;
    --ui-table-color-cell: #fff;
    --ui-table-color-border: #ddd;
    --ui-table-color-hover: var(--ui-color-hover);
  }

  .color-scheme-dark {
    --ui-table-color-header: #525255;
    --ui-table-color-cell: ##3e3e42;
    --ui-table-color-border: #dddddd33;
    --ui-table-color-hover: var(--ui-color-hover);
  }
}

.UiTable--fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--ui-color-background);
  z-index: 2;
  max-height: none;
  max-width: none;
}

.UiTable {
  display: flex;
  flex-direction: column;

  &__toolbar {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px;

    background-color: var(--ui-table-color-header);
    border: 1px solid var(--ui-table-color-border);
    border-bottom: 0;
  }

  &__toolbar-right {
    margin-left: auto;
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  &__toolbarItem {
    --ui-item-padding: 8px 12px;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;

    &:hover {
      // background-color: var(--ui-color-hover);
      background-color: rgba(255,255,255, 0.6);
    }

    font-size: 0.9em;
    font-weight: bold;

    .UiItem__subtext {
      font-weight: normal;
    }
  }

  &__body {
    flex: 1;
    overflow: auto;
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    th {
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
      background-color: var(--ui-table-color-header);
    }

    th,
    td {
      border-right: 1px solid var(--ui-table-color-border);
      border-bottom: 1px solid var(--ui-table-color-border);
      &:first-child {
        border-left: 1px solid var(--ui-table-color-border);
      }
    }

    thead tr:first-child th {
      border-top: 1px solid var(--ui-table-color-border);
    }

    tbody {
      td {
        background-color: var(--ui-table-color-cell);
        vertical-align: top;
      }

      tr {
        cursor: pointer;
        &:hover td {
          background-color: var(--ui-table-color-hover);
        }
      }
    }


    // Sticky first row and column
    thead {
      position: sticky;
      top: 0;
      z-index: 2;
    }

    th:first-child,
    td:first-child {
      position: sticky;
      left: 0;
      z-index: 1;
    }

    th:first-child {
      z-index: 2;
    }
  }


  // Cells
  &__output {
    --ui-item-padding: 2px 10px;
    margin: 5px 8px;
  }

  &__header-title {
    flex: 1;
    align-self: stretch;

    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
  }

  &__header {
    user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;

    &--ordered {
      .UiTable__header-title::before {
        color: var(--ui-color-primary);
      }

      &-asc .UiTable__header-title::before {
        content: '\25B4' // up arrow triangle
      }

      &-desc .UiTable__header-title::before {
        content: '\25BE' // down arrow triangle
      }
    }

    --dropzone-width: 4px;

    &--dropping {
      &-before {
        border-left: var(--dropzone-width) solid var(--ui-color-primary) !important;
      }
      &-after {
        border-right: var(--dropzone-width) solid var(--ui-color-primary) !important;
      }
    }
  }

  &__columnPopup {
    align-self: stretch;
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 24px;

    opacity: 0.1;

    .UiPopover__trigger {
      display: flex;
      align-items: stretch;
    }

    &:hover {
      background-color: rgba(255,255,255, 0.6);
    }
  }

  .UiTable__header:hover .UiTable__columnPopup {
    opacity: 1;
  }

  &__menuOptions {
    --ui-item-padding: 8px 12px;
    .UiItem {
      user-select: none;
      cursor: pointer;
      &:hover {
        background-color: var(--ui-color-hover);
      }
    }
  }

  /* Specific output formats */
  .UiOutput--textarea {
    white-space: pre-wrap;
    max-height: 6rem;
    overflow: auto;
  }
}



.UiTable--dragging {
  .UiTable__header > * {
    pointer-events: none;
  }
}


.UiTable {
  &__settings {
    max-height: 60vh;

    display: flex;
    flex-direction: column;
    & > section {
      flex: 1;
      overflow: auto;
    }

    footer {
      display: flex;
      flex-wrap: nowrap;
      gap: 6px;
      padding: 6px;
    }
  }
}


/* MOBILE FRIENDLY table */
@media only screen and (max-width: 768px) {
  .UiTable {
    &__table {
      display: block;

      thead, tbody, th, td, tr {
        display: block;
      }

      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tr {
        margin: 8px 0.5rem 2rem 0.5rem;
        border-radius: 4px;
        background-color: var(--ui-color-z1);
        padding: 8px 5px;
      }

      td {
        display: flex;
        flex-wrap: wrap;
        border: 0 !important;
        background-color: transparent !important;

        & > * {
          flex: 3;
        }

        &::before {
          content: var(--ui-table-title);
          flex: 1;
          display: block;
          padding: 5px 12px;
          font-size: 14px;
          font-weight: bold;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 0;
        }
      }
    }
  }
}