// Tab placement
.UiTabs {
  &__header {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    overflow-x: auto;

    /*firefox only*/
    scrollbar-width: thin;

    /*webkit based browsers only*/
    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__tabList {
    flex: 1;

    display: flex;
    flex-wrap: nowrap;
    gap: 4px;

    overflow: hidden;
    overflow-x: auto;

    /*firefox only*/
    scrollbar-width: thin;

    /*webkit based browsers only*/
    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.2);
    }    
  }
}

// Tab bottom border + animations
.UiTabs {
  .UiTab {
    position: relative;
    border-radius: 4px;  
    // overflow: hidden; // Messes badge z-index

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      border-radius: 2px;
      background-color: var(--ui-color-primary);

      transform: scaleX(0);
      transition: transform var(--ui-duration-snap);
    }

    &--selected {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &--direction-left {
    .UiTab {
      &--incoming::after {
        transform-origin: bottom right;
      }
      &--outgoing::after {
        transform-origin: bottom left;
      }
    }
  }

  &--direction-right {
    .UiTab {
      &--incoming::after {
        transform-origin: bottom left;
      }
      &--outgoing::after {
        transform-origin: bottom right;
      }
    }
  }
}



.UiTab {
  --ui-item-padding: 12px 16px;
  max-width: 250px;
  user-select: none;

  .UiItem {
    // text-align: center;
    justify-content: center;

    &__body {
      flex: none;
    }

    &__text {
      font-weight: 600;
      font-size: 0.9em;
    }

    &:hover {
      background-color: var(--ui-color-hover);
    }
  }

  &::after {
    transform-origin: center;
    width: 42px;
    margin: auto;

    bottom: 6px;
  }

  &--selected {
    .UiItem {
      background-color: var(--ui-color-z1);
    }
  }
}