// Tab placement
.UiTabs {
  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__tabList {
    flex: 1;
    min-width: 350px;

    display: flex;
    flex-wrap: nowrap;
    gap: 4px;

    overflow: hidden;
    overflow-x: auto;

    /*firefox only*/
    scrollbar-width: thin;

    /*webkit based browsers only*/
    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

/* Mobile displays */
@media only screen and (max-width: 768px) {
  .UiTabs {
    &__tabList {
      order: 2;

      .UiTab {
        flex: 1;
      }
    }

    &__right {
      margin-left: auto;
    }
  }
}


// Tab bottom border + animations
.UiTabs {
  .UiTab {
    position: relative;
    // overflow: hidden; // Messes badge z-index

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      border-radius: 2px;
      background-color: var(--ui-color-primary);

      transform-origin: center;
      transform: scaleX(0);
      transition: transform var(--ui-duration-snap);
    }

    &--selected {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  // // Stretch the tab underline from the direction
  // // of the previous tab
  // &--direction-left {
  //   .UiTab {
  //     &--incoming::after {
  //       transform-origin: bottom right;
  //     }
  //     &--outgoing::after {
  //       transform-origin: bottom left;
  //     }
  //   }
  // }

  // &--direction-right {
  //   .UiTab {
  //     &--incoming::after {
  //       transform-origin: bottom left;
  //     }
  //     &--outgoing::after {
  //       transform-origin: bottom right;
  //     }
  //   }
  // }
}

a.UiTab {
  color: inherit;
  text-decoration: none;
}


.UiTab {
  --ui-item-padding: 10px 16px;
  max-width: 250px;
  user-select: none;

  .UiItem {
    // text-align: center;
    justify-content: center;
    border-radius: 4px;

    &__body {
      flex: none;
    }

    &__text {
      font-weight: 600;
      font-size: 0.9em;
    }

    &:hover {
      background-color: var(--ui-color-hover);
    }
  }

  &::after {
    transform-origin: center;
    width: 42px;
    margin: auto;

    bottom: 6px;
  }

  &--selected {
    .UiItem {
      background-color: var(--ui-color-z1);
    }
  }
}