.UiUpload {
  &__file {
    display: block;
    max-width: 380px;
    color: inherit;

    --ui-item-padding: 8px;

    border-radius: 4px;
    background-color: var(--ui-color-hover);

    margin-bottom: 8px;

    &--danger {
      background-color: var(--ui-color-danger);
      color: #fff;
    }

    .UiItem {
      align-items: flex-start;

      &__icon {
        width: 90px;
        height: 60px;
        padding: 0;

        border-radius: 4px;
        overflow: hidden;
      }
    }
  }

  &__deleter {
    width: 30px;
    height: 30px;
    border-radius: 4px;

    &:hover {
      background-color: var(--ui-color-hover);
    }
  }

}