.UiUpload {
  &__file {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 8px;
    padding: 8px;

    max-width: 400px;
    border-radius: 4px;
    background-color: var(--ui-color-hover);

    margin-bottom: 8px;

    &--danger {
      background-color: var(--ui-color-danger);
      color: #fff;
    }
  }

  &__figure {
    img {
      display: block;
      width: 120px;
      height: 70px;
      object-fit: cover;
      border-radius: 5px;
    }

    small {
      display: block;
      font-size: 0.66em;
      font-weight: bold;
      margin-top: 5px;
    }
  }

  &__details {
    flex: 1;
    overflow: hidden;

    h1, p {
      margin: 0;
    }

    h1 {
      font-size: 1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__editor {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
      width: 100%;
      font-size: 1em;
      font-family: inherit;

      padding: 8px;

      border-radius: 5px;
      border: 1px inset #999;
    }
  }

  &__description {
    font-size: 0.85em !important;
  }

  &__actionItem {
    --ui-item-padding: 6px 8px;
    border-radius: 4px;

    font-weight: bold;
    font-size: 0.8em;

    cursor: pointer;
    &:hover {
      background-color: var(--ui-color-hover);
    }  
  }

  &__deleter {
    width: 30px;
    height: 30px;
    border-radius: 4px;

    cursor: pointer;
    &:hover {
      background-color: var(--ui-color-hover);
    }
  }
}