/* Activar pointer-events (i.e. hovers de los dockzones) solo cuando la ventana se esta MOVIENDO */
.UiWindow {
  &__scrim {
    pointer-events: none;
  }

  &__box {
    pointer-events: initial;
  }

  &--moving.UiWindow__scrim {
    pointer-events: initial !important;
  }

  &__eyeIcon {
    width: 32px;
  }

  &__dockIcon--active {
    color: var(--ui-color-primary);
  }

  &--transparent {
    .UiWindow {
      &__box {
        border: 2px dashed rgba(255,255,255, 0.2);
        background: transparent;

        & > * {
          opacity: 0;
          // filter: blur(0.3em);
        }
      }
    }
  }
}

/* Hide dragger and resizers when docked */
.UiWindow {
  &--docked .UiWindow__box {
    .UiWindow__dragger {
      pointer-events: none;
    }

    .UiResizable__hotzone {
      display: none;
    }
  }

  &--docked-top .UiWindow__box {
    .UiResizable__hotzone.--s {
      display: block;
    }
  }

  &--docked-bottom .UiWindow__box {
    .UiResizable__hotzone.--n {
      display: block;
    }
  }

  &--docked-left .UiWindow__box {
    .UiResizable__hotzone.--e {
      display: block;
    }
  }

  &--docked-right .UiWindow__box {
    .UiResizable__hotzone.--w {
      display: block;
    }
  }
}


.UiWindow {
  --ui-window-dockzone-size: 60px;
  text-align: left;

  &--external {
    // display: none;
    // pointer-events: none;
    opacity: 0.4;
  }

  &__scrim {
    background-color: rgba(0, 0, 0, 0.02); // SCRIM
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  &__box {
    position: absolute;

    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 4px;
  }

  &__dragger {
    flex: 1;
    align-self: stretch;
    cursor: move;

    display: flex;
  }

  &__body {
    flex: 1;
    overflow: auto; // popovers inside the window will be cropped, unless moved to the <body>
    overscroll-behavior: contain;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 6px;
      border: 2px solid #333;
    }
  }

  &__dockzone {
    position: absolute;
    z-index: 3;

    transition: all var(--ui-duration-snap);
    background-color: var(--ui-color-primary);
    opacity: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    &:hover {
      opacity: 0.33;
    }

    &--top {
      top: 0;
      left: 0;
      right: 0;
      height: var(--ui-window-dockzone-size);
    }

    &--bottom {
      bottom: 0;
      left: 0;
      right: 0;
      height: var(--ui-window-dockzone-size);
    }

    &--right {
      right: 0;
      top: 0;
      bottom: 0;
      width: var(--ui-window-dockzone-size);
    }

    &--left {
      left: 0;
      top: 0;
      bottom: 0;
      width: var(--ui-window-dockzone-size);
    }
  }
}


.UiWindow {
  // background: rgba(0,0,0, 0.1); //scrim background

  // Window body color theme (dark)
  --ui-color-background: #2f2f2f;
  --ui-color-foreground: #eeeeee;
  --ui-color-z1: rgba(255, 255, 255, 0.06);
  --ui-color-z2: #48484c;
  --ui-color-z3: #68686c;
  --ui-color-hover: rgba(255,255,255, 0.08);

  --ui-color-ridge-top: #cccccc38;
  --ui-color-ridge-bottom: #00000088;

  &__box {
    border-radius: 5px;
    color: var(--ui-color-foreground);
    background: var(--ui-color-background);
  }

  &--docked {
    .UiWindow__box {
      border-radius: 0;
    }
  }

  &__footer {
    padding: 12px;
    text-align: right;

    & > * {
      margin-left: 0.5rem;
    }
  }

  select {
    color: #f3f3f3;
    option,
    optgroup {
      color: #333;
    }
  }

  input.UiInput,
  textarea.UiInput,
  select.UiInput,
  .UiInput__element {
    background: rgba(255,255,255, 0.3);
    color: #f3f3f3;

    &::placeholder {
      color: #aaa;
    }
  }

  .UiInput {
    &__label {
      user-select: none;
    }

    &--type-checkbox {
      margin: 4px 0;

      .UiInput__body label {
        @extend .ui--clickable;

        display: flex;
        align-items: center;
        min-width: 40px;
        min-height: 40px;
        border-radius: 4px;

        font-size: 0.9em;
        font-weight: bold;
        padding: 4px 8px;

        input {
          margin-right: 1rem;
        }
      }

      .UiInput__element {
        cursor: pointer;
        outline: none;
      }
    }
  }

  &__header {
    & > .UiIcon,
    .UiPopover__trigger .UiIcon {
      @extend .ui--clickable;
      min-width: 32px;
      min-height: 32px;
      border-radius: 4px;
    }
  }

  &__dockPicker {
    .UiIcon {
      @extend .ui--clickable;
      min-width: 32px;
      min-height: 32px;
    }
  }
}