/* Default LayoutPageEditor + LayoutRowEditor + BlockEditor theme */

/* Prevent overflows on things when dragging */
.CmsSlotEditor--dragging {
  .LayoutRowEditor {
    pointer-events: none;
  }
}

.LayoutPageEditor {
  position: relative;

  /* Shadowed wedge on the left side */
  // box-shadow: -9px 0 9px -10px rgba(0, 0, 0, 0.4);

  .RowLauncher {
    position: relative;
    left: -30px;
    padding-right: 2px;

    cursor: pointer;
    display: inline-flex;

    .UiItem__icon {
      transition: all var(--ui-duration-snap);

      width: 28px;
      height: 30px;

      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      color: #777 !important;

      margin: 0;
    }

    .UiItem__text {
      transition: all var(--ui-duration-snap);
      display: none;
      opacity: 0;
    }

    &:hover {
      .UiItem__icon {
        background-color: var(--ui-color-primary);
        color: #fff !important;
        margin-right: 12px;
      }

      .UiItem__text {
        display: block;
        opacity: 0.7;
      }
    }
  }
}


/* Row Editor */
.LayoutRowEditor {
  position: relative;
  min-height: 82px;

  // box-shadow: -9px 0 9px -10px rgba(0, 0, 0, 0.4);

  &__body {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);

    .ui__content {
      flex: 1;
      display: flex;
      flex-wrap: nowrap;
    }
  }

  & > .BlockScaffold__toolbar-container {
    z-index: 2;
    position: absolute;
    width: 38px;
    top: 0;
    left: -40px;
    bottom: 0;

    & > .BlockScaffold__toolbar {
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: stretch;

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      background-color: var(--ui-color-primary);
      color: #fff;

      .BlockScaffold__toolbar-spacer {
        display: none;
      }
    }
  }

  // Show/Hide toolbar
  & > .BlockScaffold__toolbar-container {
    overflow: hidden;
  }

  & > .BlockScaffold__toolbar-container {
    & > .BlockScaffold__toolbar {
      transition: all var(--ui-duration-snap);
      position: relative;
      left: 27px;
      background-color: rgba(0, 0, 0, 0.05);
    }

    .Block__drag-handle .UiIcon,
    .BlockScaffold__toolbar-icon {
      width: 100%;
    }
  }

  &:hover > .BlockScaffold__toolbar-container {
    & > .BlockScaffold__toolbar {
      background-color: var(--ui-color-primary);
      opacity: 0.3;
    }
  }

  &.BlockScaffold--focused > .BlockScaffold__toolbar-container {
    overflow: initial;
  }

  &.BlockScaffold--focused > .BlockScaffold__toolbar-container,
  & > .BlockScaffold__toolbar-container:hover {
    & > .BlockScaffold__toolbar {
      left: 0;
      background-color: var(--ui-color-primary);
      opacity: 1;
    }
  }
}


.BlockScaffold {
  &__toolbar-title {
    .UiItem__text {
      font-size: 14px;
    }
  }

  &__toolbar-spacer {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
  }

  // UiInput inside scaffold toolbar
  &__toolbar {
    input.UiInput,
    .UiInput__element {
      background-color: rgba(255, 255, 255, 0.2);
      color: #bbb;
      font-size: 14px;
    }
  }
}


// Custom items override
.StmtChainItem {
  margin: 8px;
  border: 1px outset #555;
  background-color: rgba(255, 255, 255, 0.1);

  &__trigger {
    padding-right: 8px;
  }

  &__contents {
    padding-bottom: 36px;

    & > .UiInput {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-end;

      .UiInput__label {
        font-size: 13px;
        margin-right: 1em;
      }
    }
  }

  &__face .UiItem__subtext {
    color: #fff;
    background-color: var(--ui-color-primary);
    padding: 1px 8px;
    align-self: baseline;
  }
}