/* This stylesheet declares the base CSS for all block / block editor components */
.cms-theme-base {
  --ui-content-width: auto;
  --ui-radius: 5px;

  --ui-color-background: transparent;
  --ui-color-foreground: #333;

  @import '@/packages/ui/themes/base/modifiers/clickable.scss';

  @import './classes/coolAdder.scss';
  @import './classes/coolDetails.scss';

  @import './blocks/BlockCssStyle.scss';
  @import './blocks/BlockScaffold.scss';
  @import './blocks/BlockVisibilityEditor.scss';
  @import './blocks/CmsStory.scss';
  @import './blocks/CmsStoryBuilder.scss';
  @import './blocks/CmsStoryEditor.scss';
  @import './blocks/CssClassManager.scss';
  @import './blocks/LayoutPage.scss';
  @import './blocks/LayoutRow.scss';
  @import './blocks/LayoutRowEditor.scss';
  @import './blocks/ListenersEditor.scss';
  @import './blocks/StmtAndOr.scss';
  @import './blocks/StmtChainItem.scss';
  @import './blocks/StmtOp.scss';
  @import './blocks/StoryMethodsEditor.scss';
  @import './blocks/UiWindow.scss';
}