// Make sure all editor/builder components have a consistent font
// i.e. do NOT inherit the default font
.PageToolbar,
.CmsStoryBuilder__header,
.CmsStoryBuilder__sitemap,
.BlockScaffold__toolbar,
.CmsBlockPicker,
.UiWindow,
.tippy-content,
.UiDialog__contents,
.BlockScaffold__actionList,
.BlockScaffold__launcher {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  --ui-font-titles: "Poppins", sans-serif;
  --ui-font-texts: "Poppins", sans-serif;
}

// Center and stretch all UiTabs inside UiWindow
.UiWindow {
  .UiTabs {
    &__header {
      padding: 4px;
    }

    .UiTab {
      flex: 1;
      max-width: none;
    }
  }
}