/* This stylesheet declares the base CSS for all block / block editor components */

:root {
  --cms-page-padding: 0 0;
  --cms-row-padding: 0 0;
  --ui-content-width: auto;
}

.LayoutPage {
  position: relative;
  padding: var(--cms-page-padding);
}

.LayoutRow {
  margin: auto;
  padding: var(--cms-row-padding);

  .ui__content {
    margin: auto;
    width: 100%;
    max-width: var(--ui-content-width);
  }
}
