.ui-button {
  border: none;
  color: #fff;
  // background: #424557;
  background: var(--ui-color-primary);
  will-change: opacity;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 4px;
  transition: background 0.2s,color 0.2s;
  box-shadow: 0 1px 4px -2px black, inset 0 2px 1px -1px rgb(255 255 255 / 10%);

  cursor: pointer;

  &:hover {
    color: #81edff;
  }
}

._ui-button {
  @extend .ui-outset;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  cursor: pointer;

  padding: 0 var(--ui-padding-horizontal);
  min-height: 50px;
}

.ui-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.ui-button.--danger {
  border: 0 !important;
  color: #fff;
  background: var(--ui-color-danger) !important;
}

.ui-button.--cancel {
  border: 0 !important;
  // color: var(--ui-color-primary);
  color: rgba(255, 255, 255, 0.9);
  background: transparent !important;
}