.ui-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &.--nowrap {
    flex-wrap: nowrap;
  }

  &.--top {
    align-items: flex-start;
  }

  &.--bottom {
    align-items: flex-end;
  }

  &.--center {
    justify-content: center;
    align-items: center;
  }

  &.--even {
    justify-content: space-evenly;
  }

  & > .--flex {
    flex: 1;
  }

  & > .--align-normal {
    align-self: normal;
  }
}