.ui-grid {
  --grid-gap: 3px;
  --grid-columns: 12;
  --grid-row-height: 80px;

  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-auto-flow: row dense;
  grid-auto-rows: var(--grid-row-height);

  & > * {
    --x: auto;
    --y: auto;
    --w: 1;
    --h: 1;

    grid-column: var(--x) / span var(--w);
    grid-row: var(--y) / span var(--h);
  }
}

.ui-grid.--guides {
  --grid-bg-width: calc( (100% + var(--grid-gap))/var(--grid-columns) );
  --grid-bg-height: calc(var(--grid-row-height) + var(--grid-gap));

  background-color: rgba(0, 0, 180, 0.02);
  background-size: var(--grid-bg-width) var(--grid-bg-height);
  background-position: calc(var(--grid-gap)*-1) calc(var(--grid-gap)*-1);
  background-image: linear-gradient(white var(--grid-gap), transparent var(--grid-gap)), linear-gradient(90deg, white var(--grid-gap), transparent var(--grid-gap));

  transition: background-color .3s;

  &:hover {
    background-color: rgba(0, 0, 180, 0.08);
  }
}


@media (max-width: 800px) {
  .ui-grid {
    display: block;
  }
}