.ui-group {
  box-sizing: border-box;
  display: inline-flex;
  align-items: flex-end;

  &.--block {
    display: flex;
  }

  // Grupos de ui-input + ui-native
  .ui-native, .ui-button {
    box-sizing: border-box;
    // height: 48px;  // ... mmm, mejor no!
    border-radius: 0;
    border-right-width: 0;
  }

  & > .ui-native:first-child,
  & > :first-child .ui-native,
  & > .ui-button:first-child,
  & > :first-child .ui-button {
    border-top-left-radius: var(--ui-radius);
    border-bottom-left-radius: var(--ui-radius);
  }

  & > .ui-native:last-child,
  & > :last-child .ui-native,
  & > .ui-button:last-child,
  & > :last-child .ui-button {
    border-top-right-radius: var(--ui-radius);
    border-bottom-right-radius: var(--ui-radius);
    border-right-width: 1px;
  }

}