.ui-native-base {
  padding: var(--ui-padding-vertical);
  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
  outline-color: var(--ui-color-primary);
  box-sizing: border-box;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.ui-native-input {
  @extend .ui-inset;
  @extend .ui-native-base;

  min-height: 40px;
}

.ui-native-select {
  @extend .ui-inset;
  @extend .ui-native-base;

  min-height: 40px;

  &[multiple] {
    padding: 0;
  }

  option {
    padding: 3px;

    &:hover {
      background-color: var(--ui-color-highlight);
    }

    &:checked {
      background-color: var(--ui-color-highlight);
    }
  }
}

.ui-native-textarea {
  @extend .ui-inset;
  @extend .ui-native-base;

  // display: block;  // Esto causa que chrome aplique una margen derecha al usar el resize nativo del textarea (!!!)
  // min-height: 96px;
}

input.ui-native,
.ui-native > input {
  @extend .ui-native-input;
}

select.ui-native,
.ui-native > select {
  @extend .ui-native-select;
}

textarea.ui-native,
.ui-native > textarea {
  @extend .ui-native-textarea;
}

button.ui-native {
  @extend .ui-button;
}
