.ui-subheader {
    @extend .ui-breathe;
    margin-top: 24px;

    pointer-events: none;
    color: rgba(0, 0, 0, 0.7);

    font-family: var(--ui-font-secondary);
    font-size: 13px;
    font-weight: bold;

    &:first-child {
        margin-top: $ui-breathe;
    }
}