table.ui-table {
  td {
    padding: 3px 4px;
    vertical-align: top;
  }

  thead td {
    font-weight: bold;
    font-size: 0.9em;
  }

  .first-row td,
  tbody > tr:first-child td {
    border-top: 1px solid rgba(0, 0, 0, 0.04);
  }

  .last-row td {
    padding-bottom: 16px;
  }

}