.ui-theme-columns {
  @import '../base/variables.scss';
  @import '../base/components/UiButton.scss';
  @import '../base/components/UiGroup.scss';
  @import '../base/components/UiInput.scss';
  @import '../base/modifiers/clickable.scss';

  --input-label-width: 250px;
  --input-breathe: 12px;

  .UiInput {
    position: relative;
    padding-left: var(--input-label-width);

    padding-bottom: var(--input-breathe);
    margin-bottom: var(--input-breathe);
    border-bottom: 1px dotted #ccc;

    &__label {
      position: absolute;
      top: 0;
      left: 0;
      width: var(--input-label-width);
    }
  }
}