$ui-color-primary: #1d7cbf;
$ui-color-success: #28c76f;
$ui-color-danger: #ea5455;
$ui-color-warning: #ff9f43;
$ui-color-background: #f3f3f3;

$ui-color-darken: rgba(0,0,0, .02);

$ui-color-highlight: rgba(194, 219, 255, 0.13);
$ui-color-selected: #0084F720;
$ui-color-disabled: rgba(0,0,0, 0.2);

:root {
  --ui-color-primary: #{$ui-color-primary};
  --ui-color-success: #{$ui-color-success};
  --ui-color-danger: #{$ui-color-danger};
  --ui-color-warning: #{$ui-color-warning};
  --ui-color-background: #{$ui-color-background};

  --ui-color-darken: #{$ui-color-darken};

  --ui-color-highlight: #{$ui-color-highlight};
  --ui-color-selected: #{$ui-color-selected};
  --ui-color-disabled: #{$ui-color-disabled};
}