@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translate3d(0, var(--transition-displacement-top), 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInTop {
  animation-name: fadeInTop;
}