@keyframes fadeOutBottom {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, var(--transition-displacement-bottom), 0);
  }
}

.fadeOutBottom {
  animation-name: fadeOutBottom;
}