@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(var(--transition-displacement-right), 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}