.BlockScaffold {
  position: relative;
  outline: none;
  transform-style: inherit;

  // --outline-offset: -4px; // causes body horizontal scroll
  --outline-offset: 0;

  z-index: 1; // messes up dragstart from toolbar (in html blocks only ???)


  // Launchers visible on selected only
  & > &__toolbar-container > &__launcher,
  & > &__launcher {
    visibility: hidden;
  }

  &--selected > &__toolbar-container > &__launcher,
  &--selected > &__launcher {
    visibility: visible;
  }

  // toolbar-container only clickable when SELECTED
  & > &__toolbar-container {
    display: none;
  }

  &--selected > &__toolbar-container {
    display: flex;
  }


  // "outline"
  &::after {
    content: '';
    pointer-events: none;

    border-radius: 4px;
    border: 1px solid #999;

    position: absolute;
    display: block;
    top: var(--outline-offset);
    left: var(--outline-offset);
    right: var(--outline-offset);
    bottom: var(--outline-offset);

    transition: all 222ms;
    opacity: 0;

    //reset
    text-decoration: none;
    text-shadow: none;
    color: inherit;
  }

  &--selected {
    z-index: 3; // messes up dragstart from toolbar (in html blocks only ???)
    &::after {
      border-color: var(--ui-color-primary);
    }
  }

  &:hover {
    z-index: 2;
  }


  &--selected::after,
  &:hover::after {
    opacity: 1;
    border-color: var(--ui-color-primary);
  }


  &__toolbar-container {
    position: absolute;
    left: 0;
    bottom: 100%;

    z-index: 99;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    font-size: 1rem;

    min-width: 240px;
    max-width: 100vw;
  }

  &__toolbar {
    --ui-item-padding: 8px 12px;

    background: #333;
    color: #eee;
    border-radius: 4px;

    display: flex;
    // flex-wrap: nowrap;
    flex-wrap: wrap; // so things like MediaHtmlBlockEditor toolbar don't suck
    align-items: stretch;

    user-select: none;
    z-index: 1;

    // overflow-x: auto;
    max-width: calc(100vw - 72px);

    .UiForm {
      .UiInput {
        &__element {
          background: rgba(255,255,255,0.08);
          color: #fff;
          min-width: 0 !important;
          max-width: 5rem;
        }
      }
    }
  }

  &__dragHandle {
    cursor: move;
    color: #ffffffcc;

    font-weight: bold;
    font-size: 0.85rem;

    &:hover {
      background-color: rgba(255,255,255, 0.1);
    }
  }

  &__separator {
    align-self: stretch;
    border-right: 1px solid #ffffff22;
    border-left: 1px solid #00000055;
  }

  &__shortcut {
    align-self: stretch;
    width: 36px;
    font-size: 0.85rem;
    opacity: 0.7;

    cursor: pointer;
    &:hover {
      opacity: 1;
      background-color: var(--ui-color-hover);
    }
  }

  &__button {
    @extend .ui--clickable;
    min-width: 40px;
    min-height: 40px;

    color: inherit;
    flex: none;
    padding: 0 10px;
    border: 0;
    background: transparent;

    font-size: 0.75rem;

    &--active {
      color: var(--ui-color-primary);
      background-color: var(--ui-color-hover);
    }

    &--expansible {
      &::after {
        content: "▾";
      }
    }
  }

  &__toolbar > .UiDropdown > .UiDropdown__trigger {
    height: 100%;
  }

  &__menuBtn {
    @extend .ui--clickable;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__actionList {
    --ui-item-padding: 8px 12px;
    user-select: none;

    color: var(--ui-color-foreground);
    background-color: var(--ui-color-z2);

    padding: 4px;
    border-radius: 4px;

    .UiItem {
      @extend .ui--clickable;

      font-weight: bold;
      font-size: 0.85rem;

      border-radius: 4px;
    }
  }

  &__parent {
    align-self: flex-start;
    --ui-item-padding: 8px;

    background-color: #999;
    color: #eee;
    border-radius: 4px;

    top: -4px;
    left: 8px;
    margin-left: -15px;

    padding-right: 80px !important;
    margin-right: -72px;

    cursor: pointer;
    &:hover {
      background-color: #888;
    }
  }

  &__launcher {
    &--before {
      margin-left: 3px;
    }

    &--after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: 2px;
      margin-left: -14px;
      z-index: 1;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    width: 28px;
    height: 26px;

    border-radius: 4px;
    border: 2px dashed #999;
    // background-color: #333;
    // color: #eee;
    font-weight: bold;

    cursor: pointer;
    opacity: 0.5;
    &:hover {
      border: 2px solid var(--ui-color-primary);
      color: var(--ui-color-primary);
      opacity: 1;
    }
  }
}


// Sibling launcher positions depending on block "direction" props
.BlockScaffold--horizontal {

  & > .BlockScaffold__launcher--before {
    position: absolute;
    top: 50%;
    left: -18px;
    margin-top: -10px;
    z-index: 1;
  }

  & > .BlockScaffold__launcher--after {
    top: 50%;
    right: -13px;
    bottom: auto;
    left: auto;
    margin-left: auto;
    margin-top: -10px;
  }
}


/*** Block-specific stylings ***/
// NavigationLink
.BlockScaffold--NavigationLink {
  display: inline-block;

  &.UiButton--cancel {
    .UiButton {
      @extend .UiButton--cancel;
    }
  }
}