.BlockScaffold {
  position: relative;
  outline: none;
  transform-style: inherit;

  // --outline-offset: -4px; // causes body horizontal scroll
  --outline-offset: 0;

  // Launchers visible on selected only
  & > &__launcher {
    visibility: hidden;
  }
  &--selected > &__launcher {
    visibility: visible;
  }


  // "outline"
  &::after {
    content: '';
    pointer-events: none;

    border-radius: 4px;
    border: 1px solid #999;

    position: absolute;
    display: block;
    top: var(--outline-offset);
    left: var(--outline-offset);
    right: var(--outline-offset);
    bottom: var(--outline-offset);

    transition: all 222ms;
    opacity: 0;

    //reset
    text-decoration: none;
    text-shadow: none;
    color: inherit;
  }

  &--selected {
    &::after {
      border-color: var(--ui-color-primary);
    }
  }

  &--selected::after,
  &:hover::after {
    opacity: 1;
    border-color: var(--ui-color-primary);
  }


  // ToolBar.  Bar appended to CmsStoryBuilder toolbar
  &__toolbar {
    max-width: 98vw;

    border-radius: 4px;
    background-color: var(--ui-color-hover);

    user-select: none;
    --ui-item-padding: 3px 12px;

    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    // overflow-x: auto;   // overflow hides UiPopovers inside the toolbar :(

    .UiForm {
      .UiInput {
        &__element {
          // background: rgba(255,255,255,0.08);
          // color: #fff;
          min-width: 0 !important;
          min-height: 0;
          max-width: 5rem;
        }
      }
    }
  }

  &__toolbarScroll {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    overflow-x: auto;
  }

  &__titleItem {
    font-size: 0.75rem;
    font-weight: bold;
    max-width: 150px;
  }


  &__shortcut {
    width: 36px;
    font-size: 0.85rem;
    opacity: 0.7;

    cursor: pointer;
    &:hover {
      opacity: 1;
      background-color: var(--ui-color-hover);
    }

    text-shadow: 0px 1px 2px #00000055;
  }


  &__menuBtn {
    @extend .ui--clickable;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  // Class BlockScaffold__button is added to <UiIcon> and <button> in MediaHtmlBlockEditor.vue
  &__button {
    @extend .ui--clickable;

    min-width: 38px;
    height: 38px;

    color: inherit;
    flex: none;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;

    font-size: 0.75rem;

    &--active {
      color: var(--ui-color-primary);
      background-color: var(--ui-color-hover);
    }

    &--expansible {
      &::after {
        content: "▾";
      }
    }
  }


  &__actionList {
    --ui-item-padding: 8px 12px;
    user-select: none;

    color: var(--ui-color-foreground);
    background-color: var(--ui-color-z2);

    padding: 4px;
    border-radius: 4px;

    .UiItem {
      @extend .ui--clickable;
      font-weight: bold;
      font-size: 0.85rem;
      border-radius: 4px;
    }
  }


  // DragBar.  Bar placed absolutely over the block's face
  &__dragbar-wrap {
    position: sticky;
    // top: 132px;  // Must match the height of CmsStoryBuilder__header + dragbar height.  92 + 40
    top: calc(var(--cms-builder-header-bottom, 0) + 30px); // --cms-builder-header-bottom is set in CmsStoryBuilder.vue
    z-index: 3;
  }

  &__dragbar {
    user-select: none;

    position: absolute;
    left: 0;
    bottom: 100%;

    display: flex;
    flex-wrap: nowrap;

    .UiItem {
      border-radius: 4px;
      &__icon {
        font-size: 1rem;
      }
    }
  }

  &__parent {
    @extend .ui--clickable;
    --ui-item-padding: 6px 12px;
  }

  &__dragHandle {
    align-items: stretch;
    text-shadow: none;

    font-size: 0.75rem;
    background-color: var(--ui-color-background);
    color: var(--ui-color-foreground);
    &:hover {
      background-color: #444;
    }

    .UiItem__icon,
    .UiItem__body {
      cursor: move;
    }

    .UiItem__body {
      padding: 6px 8px 6px 0;
    }

    .UiItem__icon {
      width: 32px;
    }
  }

  &__settingsIcon {
    @extend .ui--clickable;
    width: 32px;
    height: 100%;

    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }


  &__launcher {
    &--before {
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-bottom: 3px;
      margin-left: -14px;
      z-index: 1;
    }

    &--after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: 3px;
      margin-left: -14px;
      z-index: 1;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    width: 28px;
    height: 26px;

    border-radius: 4px;
    border: 2px dashed #999;
    font-weight: bold;

    cursor: pointer;
    opacity: 0.5;
    &:hover {
      border: 2px solid var(--ui-color-primary);
      color: var(--ui-color-primary);
      opacity: 1;
    }
  }
}


// Sibling launcher positions depending on block "direction" props
.BlockScaffold--horizontal {

  & > .BlockScaffold__launcher--before {
    top: 50%;
    left: 0;
    bottom: auto;
    right: auto;
    margin-top: -10px;
  }

  & > .BlockScaffold__launcher--after {
    top: 50%;
    right: -13px;
    bottom: auto;
    left: auto;
    margin-left: auto;
    margin-top: -10px;
  }
}


// !!! Dragbar position fixes for specific blocks (nested CmsSlotEditor mostly)
.EsignConsentFace .CmsSlotEditor {
  --cms-builder-header-bottom: 0;
}