.CmsStoryBuilder {
  display: flex;
  flex-direction: column;

  &__body {
    flex: 1;

    // Display:flex fucks up the <table> overflow in the StoryEditor's "Data" tab
    // BUT it is necessary to position CmsStoryBuilder__sidebar to the left

    display: flex;
    flex-wrap: nowrap;
  }

  &__content {
    flex: 1;
    max-width: 100%; // fixes fuck up described above (line 8)
  }

  &__sidebar {
    background-color: #525659;

    // must not have padding or borders
    // since this is the CONTAINER side element which shows/hides by setting width:0
    margin: 0;
    padding: 0;

    transition: max-width var(--ui-duration-snap);

    white-space: nowrap;

    &--visible {
      max-width: 180px;
    }

    &--hidden {
      overflow: hidden;
      max-width: 0;
      box-sizing: content-box !important;
    }
  }

  &__pageList {
    padding: 36px 24px;
    padding-right: 12px;
  }

  // // Chain of height
  // .CmsStory,
  // .CmsStory > .CmsStory__container,
  // .CmsStory > .CmsStory__container > div,
  // .CmsStory > .CmsStory__container > div > .LayoutPage {
  //   height: 100%;
  // }

  &__expander {
    @extend .ui--clickable;
    margin-left: auto;

    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;

    --ui-item-padding: 8px 16px;
  }

  &__toolbar {
    // background-color: #333;
    // color: #eee;
    // background-color: var(--ui-color-background);
    background-color: var(--ui-color-z1);
    color: var(--ui-color-foreground);

    .UiTabs {
      &__header {
        margin: 4px;
        overflow: initial;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: stretch;
    margin-left: auto;

    opacity: 1;
    transition: opacity var(--ui-duration-snap);

    .UiPopover__trigger {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__controlItem {
    @extend .ui--clickable;
    border-radius: 4px;

    align-self: stretch;
    height: 100%;
    min-width: 40px;

    &[disabled=true] {
      cursor: default;
      opacity: 0.4;
      &:hover {
        background-color: transparent;
      }
    }
  }


  &__tabOptions {
    display: flex;
    align-items: stretch;
    margin: 4px;
    gap: 4px;

    font-size: 0.85em;
    --ui-item-padding: 8px 14px;

    overflow-x: auto;
    // min-height: 48px;
  }

  &__tabOptions {
    & > a,
    & > .UiItem {
      @extend .ui--clickable;

      font-weight: 600;
      font-size: 14px;
      border-radius: 4px;

      .UiItem {
        &__icon {
          // order: 2; place item icons to the right
          opacity: 0.4;
          font-size: 0.9em;
        }

        &:hover .UiItem__icon {
          opacity: 1;
        }
      }
    }
  }

  &__tabOptions a {
    display: flex;
    color: inherit;
  }

  &__tabItem {
    @extend .ui--clickable;
    user-select: none;
    display: flex;
    align-items: center;

    &--sitemap {
      white-space: nowrap;
      strong {
        color: var(--ui-color-primary);
      }
    }

    &--sitemap-open {
      background-color: var(--ui-color-hover);
    }
  }

  /* icon-less, strong, tab items */
  &__tabItem {
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;

    .UiItem {
      &__icon {
        display: none;
      }
    }
  }
}

// Tabs and options layout in mobile
@media (max-width:500px) {

  // Hide resolution picker
  .UiResolutionPicker {
    display: none;
  }

  .CmsStoryBuilder__toolbar {
    .UiTabs {
      &__header {
        flex-wrap: wrap;
      }

      &__tabList {
        .UiTab {
          flex: 1;
        }
      }
    }
  }
}


// Sidebar in mobile
@media (max-width:500px) {
  .CmsStoryBuilder {
    &__body {
      position: relative;
    }

    &__sidebar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      overflow-y: auto;
    }
  }
}