.CmsStoryBuilder {
  display: flex;
  flex-direction: column;

  &__body {
    flex: 1;
  }

  &__tabs {
    .UiTabs__tabList {
      justify-content: center;
    }
  }

  &__controls {
    margin-left: auto;
    display: flex;
    align-items: stretch;
  }


  &__controlItem {
    @extend .ui--clickable;
    user-select: none;
    border-radius: 4px;

    height: 40px;
    min-width: 45px;

    &[disabled=true] {
      cursor: default;
      opacity: 0.4;
      &:hover {
        background-color: transparent;
      }
    }
  }

  // Hide icons from tab items
  &__tabItem .UiItem__icon {
    display: none;
  }

  &__header {
    background-color: var(--ui-color-z1);
    color: var(--ui-color-foreground);
    user-select: none;
  }

  &__tabOptions {
    white-space: nowrap;
    overflow-x: auto;
    padding: 4px;

    font-size: 0.85em;
    --ui-item-padding: 8px 14px;

    & > a,
    & > .UiItem {
      display: inline-flex;
      margin-right: 4px;

      @extend .ui--clickable;

      font-weight: 600;
      font-size: 14px;
      border-radius: 4px;

      .UiItem {
        &__icon {
          // order: 2; place item icons to the right
          opacity: 0.4;
          font-size: 0.9em;
        }

        &:hover .UiItem__icon {
          opacity: 1;
        }
      }
    }
  }


  &__body {
    position: relative;
  }

  &__sitemap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;

    background-color: #525659;
    padding: 36px;
    // margin: 12px;
    // border-radius: 5px;

    min-width: 300px;

    transition: all var(--ui-duration-snap);

    &--hidden {
      transform: translateX(-100%);
      opacity: 0;
      pointer-events: none;
    }

    &--visible {
      transform: translateX(0);
      opacity: 1;
    }
  }
}


// Mobile displays
@media (max-width: 500px) {
  // Hide resolution picker
  .UiResolutionPicker {
    display: none;
  }
}