.CssClassManager {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 2px 0;

  &__classItem {
    @extend .outset;
  }

  &__summary {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    // padding: 6px;
  }

  &__text,
  &__subtext {
    margin: 0;
    font-size: 0.9rem;
  }

  &__adder {
    --ui-item-padding: 6px;

    &:hover,
    &[open] {
      @extend .outset;
    }

    footer {
      display: flex;
      flex-wrap: nowrap;
      gap: 6px;
      margin-top: 12px;
    }
  }
}