.CssEditor {
  &__header {
    user-select: none;
  }

  .CssDeclaration {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__properties {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    & > .UiDetails {
      @extend .outset;

      .UiDetails__item {
        --ui-item-padding: 6px;
        font-size: 10pt;
      }
    }

    &__quickAdd {
      margin-top: 5px;

      select {
        background: transparent;
        border: 0;
        // font-weight: bold;

        cursor: pointer;
        &:hover {
          background-color: var(--ui-color-hover);
        }

        option {
          color: #000;
        }
      }
    }

    &__adder {
      @extend .ui--clickable;
      --ui-item-padding: 10px;

      &:hover {
        @extend .outset;
      }
    }
  }
}