.CssEditor {
  &__header {
    user-select: none;
  }

  .CssDeclaration {
    &__quickAdd {
      .UiCodeLine__left {
        padding-top: 9px;
      }

      select {
        background: transparent;
        border: 0;
        font-family: inherit;
        font-size: 0.9rem;

        cursor: pointer;

        &:hover {
          background-color: var(--ui-color-hover);
        }

        option {
          color: #000;
        }
      }
    }

    &__adder {
      @extend .ui--clickable;
    }
  }
}