@import '@/packages/ui/themes/base/components/UiButton.scss';

.LayoutPage {
  position: relative;
  min-height: 100%;

  padding: var(--ui-content-margin);

  &__contents,
  &__header,
  &__footer {
    // padding: 10px;
    margin: auto;
    max-width: var(--ui-content-width);
  }

  &:invalid {
    input[type=submit],
    button[type=submit] {
      opacity: 0.6;
    }
  }

  /* Animate buttons while submitting */
  &--submitting {
    button[type=submit].UiButton {
      @extend .UiButton--loading;
    }
  }
}