.StmtAndOr {
  position: relative;
  // @extend .outset;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 8px;

    // nested condition body
    .StmtAndOr__body {
      padding: 12px;
      padding-top: 0;
    }
  }

  &__item {
    @extend .outset;
  }

  &__select {
    background: transparent;
    border-radius: 5px;

    color: inherit;
    font: inherit;

    border: 0;
    padding: 8px 12px;
    margin: 0;

    font-size: 0.9em;
  }

  &__adder {
    align-self: flex-start;

    color: inherit;
    border: 0;
    cursor: pointer;
    
    padding: 10px 8px;
    margin: 0;

    background: rgba(255,255,255, 0);
    border-radius: 4px;

    &:hover {
      background: var(--ui-color-hover);
      opacity: 1;
    }
  }

  select * {
    color: #222;
  }
}