.FetchEditor {
  &__row {
    display: flex;
    & > :nth-child(2) {
      flex: 1;
      input {
        width: 100%;
      }
    }
  }
}

// .StmtChain {
//   position: relative;

//   &__adder {
//     .VmExpressionPicker__item {
//       @extend .ui--clickable;

//       border-radius: 4px;
//       --ui-item-padding: 8px 12px;
//     }
//   }
// }

.StmtChainItem {
  position: relative;

  padding-left: 32px;

  &__handle {
    cursor: move;
    width: 32px;
    height: 32px;

    position: absolute;
    top: 0;
    left: 0;
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  &__actionIcon {
    @extend .ui--clickable;
    width: 32px;
    height: 32px;
  }

  &--endangered {
    background-color: rgba(255, 0, 0, 0.2);
  }
}



.StmtAssign {
  @extend .outset;
  margin-bottom: 6px;

  .UiDetails__contents {
    padding: 0;
  }

  &__item {
    --ui-item-padding: 4px 12px;
  }

  &__statement {
    padding: 8px;
  }

  &__footer {
    padding: 12px 16px;
    background-color:rgba(0, 0, 0, 0.02);
    font-size: 0.9em;

    .UiInput {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }
}



.xxxxxxxx-StmtChainItem {
  @extend .outset;
  margin-bottom: 6px;


  &__actionIcon {
    @extend .ui--clickable;
    width: 32px;
    height: 32px;
  }

  &__face {
    .UiItem {
      &__body {
        padding-left: 8px;
      }

      &__subtext {
        color: var(--ui-color-primary);
        font-size: 13px;
        font-weight: 600;

        &::before {
          content: ' → ';
          color: #fff;
        }
      }
    }

  }

  &__paths {
    padding-left: 16px;
  }

  &__path {
    & > label {
      font-size: 14px;
      font-weight: 600;
      display: block;
      margin: 6px 0;
    }
  }

  &__pathBody {
    padding: 8px;
    padding-left: 12px;
  }

  &--endangered {
    background-color: rgba(255, 0, 0, 0.2);
  }

  &__assign {
    margin-top: 8px;
    em {
      color: var(--ui-color-primary);
      font-style: normal;
      font-weight: 600;
      margin-left: 0.3rem;
    }
  }
}