// .StmtChain {
//   position: relative;

//   &__adder {
//     .VmExpressionPicker__item {
//       @extend .ui--clickable;

//       border-radius: 4px;
//       --ui-item-padding: 8px 12px;
//     }
//   }
// }

.StmtChainItem {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 0.5em 0;

  &__handle {
    cursor: move;
    width: 32px;
    height: 32px;

    position: relative;
    top: 0.3em;

    // top: 0;
    // left: 0;
  }

  &__statement {
    flex: 1;
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  &__actionIcon {
    @extend .ui--clickable;
    width: 32px;
    height: 32px;
  }

  &--endangered {
    background-color: rgba(255, 0, 0, 0.2);
  }
}