.StmtAssign {
  @extend .outset;

  &__item {
    --ui-item-padding: 8px 12px;
    padding-left: 0 !important;
  }

  &__footer {
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
    gap: 6px;
    background-color: rgba(0, 0, 0, 0.03);
    justify-content: space-between;
  }
}