.StmtOp {
  &__body {
    padding: 12px;
    padding-top: 0;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: flex-start;
    // gap: 8px;
    // padding: 8px 8px 20px 20px;
  }

  &__field {
    --ui-item-padding: 4px 12px;
    white-space: nowrap;
    min-width: 160px;
  }

  &__op {
    flex: 1;
  }

  &__arguments {
    flex: 3;
    min-width: 180px;
  }
}