.StmtAndOr {
  position: relative;
  // @extend .outset;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 8px;

    // nested condition body
    .StmtAndOr__body {
      padding: 12px;
      padding-top: 0;
    }
  }

  &__item {
    @extend .outset;
  }

  &__select {
    background: transparent;
    border-radius: 5px;

    color: inherit;
    font: inherit;

    border: 0;
    padding: 8px 12px;
    margin: 0;

    font-size: 0.9em;
    width: 100%;
  }

  &__adder {
    align-self: flex-start;
    margin: 10px auto;
    width: 100%;

    select.UiSelectNative {
      width: 100%;
      border: 2px dashed #ccc;
      border-radius: 4px;

      background-color: transparent;
      color: inherit;
      
      cursor: pointer;
      &:hover {
        background-color: var(--ui-color-hover);
      }
    }
  }
}