// !!! HIDE ICONS inside .UiWindow tabs
.UiWindow .UiTab {
  .UiItem__icon {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .UiWindow__box {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    border-radius: 0 !important;
    width: auto !important;
    height: auto !important;
  }

  // Hide window top right icons
  .UiWindow__header {

    &>.UiWindow__eyeIcon,
    &>.UiPopover {
      display: none;
    }
  }
}