.Block__drag-handle {
  cursor: move;
}

.BlockScaffold__window-header {
  --ui-item-padding: 8px 12px;
}

.BlockScaffold {
  position: relative;

  &__toolbar {
    display: inline-flex;
    align-items: stretch;
    background-color: #313131;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }

  &__toolbar-title {
    --ui-item-padding: 6px 12px;
    .UiItem__text {
      font-size: 14px;
      font-weight: 600;
    }
  }

  // Border on the left of block's menu button
  &__toolbar-spacer {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
  }

  &__defaultFace {
    cursor: pointer;
  }

  // Position toolbar above the block
  &__toolbar-container {
    position: absolute;
    bottom: 100%;
    z-index: 1;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }


  // Toolbar width
  &__toolbar {
    flex-wrap: nowrap;
    width: max-content; // No soportado en IE ni EDGE !!!
    max-width: 600px;
  }

  &__toolbar-icon {
    @extend .ui--clickable;
    min-width: 40px;
    min-height: 40px;

    // color: rgba(255, 255, 255, 0.5);
    color: inherit;
    flex: none;
    padding: 0 10px;
    border: 0;
    background: transparent;

    &--active {
      // color: #fff;
      color: var(--ui-color-primary);
    }
  }

  // /* UiInput inside toolbar */
  // &__toolbar {
  //   input.UiInput,
  //   .UiInput__element {
  //     background-color: rgba(255, 255, 255, 0.2);
  //     color: #bbb;
  //     font-size: 14px;
  //   }
  // }
}

/* Prevent toolbar from being "hoverable" white outside the element */
.BlockScaffold {
  & > .BlockScaffold__toolbar-container {
    pointer-events: none;
  }

  &:hover {
    & > .BlockScaffold__toolbar-container {
      pointer-events: initial;
    }
  }
}



// BlockScaffold INSIDE a CmsSlotEditor
.CmsSlotEditor {

  /* Toolbar visible on hover or focused */
  .BlockScaffold {
    &__toolbar-container {
      transition: opacity var(--ui-duration-snap);
      opacity: 0;
    }

    &--focused > .BlockScaffold__toolbar-container,
    &:hover > .BlockScaffold__toolbar-container {
      opacity: 1;
    }
  }

  /* "outline" on hover */
  .BlockScaffold {
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;

      // Ojo: Hacerlo mas ancho que el bloque puede causar overflows que no queremos
      top: var(--outline-offset, -2px);
      bottom: var(--outline-offset, -2px);
      left: var(--outline-offset, -2px);
      right: var(--outline-offset, -2px);

      border-radius: 2px;
      border: 2px solid var(--ui-color-primary);

      transition: all var(--ui-duration-snap);
      opacity: 0;
      pointer-events: none;
    }

    // outline visible on hover, focused or when window is open
    &.BlockScaffold--focused,
    &.BlockScaffold--window-open,
    &:hover {
      &::before {
        opacity: 0.7;
      }
    }
  }
}



/* Toolbar position in nested blocks */
// .BlockScaffold .BlockScaffold__toolbar-container { left: 8px; }
// .BlockScaffold .BlockScaffold .BlockScaffold__toolbar-container { left: 48px; }
// .BlockScaffold .BlockScaffold .BlockScaffold .BlockScaffold__toolbar-container { left: 88px; }
// .BlockScaffold .BlockScaffold .BlockScaffold .BlockScaffold .BlockScaffold__toolbar-container { left: 128px; }

/* Toolbar position in nested blocks (displacing first group child only) */
.BlockScaffold__toolbar-container { left: 8px; }
.BlockScaffold .SlotItem:first-child .BlockScaffold__toolbar-container { left: 48px; }
.BlockScaffold .BlockScaffold .SlotItem:first-child .BlockScaffold__toolbar-container { left: 88px; }
.BlockScaffold .BlockScaffold .BlockScaffold .SlotItem:first-child .BlockScaffold__toolbar-container { left: 128px; }

.BlockScaffold .BlockScaffold .BlockScaffold__toolbar {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}




// Block's option menu contents
.BlockPopover {
  user-select: none;
  display: flex;
  align-items: stretch;

  .tippy-content {
    padding: 0;
  }

  &__item {
    cursor: pointer;
    color: #ccc;
    --ui-item-padding: 8px 12px;

    &:hover {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}