@import '@/packages/ui/themes/base/blocks/UiForm--wide.scss';

.BlockCssStyle {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .UiDetails {
    &__contents {
      @extend .UiForm--wide;
      padding: 6px 12px 24px 12px;
    }
  }
}