@import '@/packages/ui/themes/base/blocks/UiForm--wide.scss';

.BlockCssStyle {
  details {
    border: 1px outset #555;
    border-left: 0;
    border-right: 0;
    min-inline-size: auto;  // OMG.  El CSS nativo de fieldset es "min-inline-size: min-content;" y eso previene hacer overflow en contenedores angostos

    ::marker {
      font-size: 12px;
    }

    summary {
      @extend .ui--clickable;
      user-select: none;
      padding: 12px 16px;

      font-size: 15px;
      font-weight: 600;
    }

    section {
      @extend .UiForm--wide;
      padding: 6px 12px 24px 12px;
    }


    // !!!! hide checkboxes in summary
    summary {
      input[type=checkbox] {
        display: none;
      }
    }
  }
}