.Block__drag-handle {
  cursor: move;
}

.BlockScaffold__window-header {
  --ui-item-padding: 8px 12px;
}

.BlockScaffold {
  position: relative;

  &__toolbar {
    display: inline-flex;
    align-items: stretch;
    background-color: #313131;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }

  &__toolbar-title {
    --ui-item-padding: 6px 12px;
    .UiItem__text {
      font-size: 14px;
      font-weight: 600;
    }
  }

  // Border on the left of block's menu button
  &__toolbar-spacer {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
  }

  &__defaultFace {
    cursor: pointer;
  }

  // Position toolbar above the block
  &__toolbar-container {
    position: absolute;
    bottom: 100%;
    // z-index: 1; // messes up nested + overlapping toolbar containers inside groups. Breaks the block dragging.

    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }


  // Toolbar width
  &__toolbar {
    flex-wrap: nowrap;
    width: max-content; // No soportado en IE ni EDGE !!!
    max-width: 600px;
  }

  &__toolbar-icon {
    @extend .ui--clickable;
    min-width: 40px;
    min-height: 40px;

    // color: rgba(255, 255, 255, 0.5);
    color: inherit;
    flex: none;
    padding: 0 10px;
    border: 0;
    background: transparent;

    &--active {
      // color: #fff;
      color: var(--ui-color-primary);
    }
  }
}


/* Ancestor & Descendant blocks */
.BlockScaffold {
  &__toolbar {
    margin-left: 8px;
    z-index: 1;
  }

  &__ancestry {
    position: relative;
    margin-left: 15px;
    margin-right: -4px;

    display: flex;
    flex-wrap: nowrap;
  }

  &__descendants {
    position: absolute;
    right: -32px;
    // bottom: -4px;
    bottom: 0;
  }

  &__ancestryIcon--down {
    padding: 5px 10px 5px 20px;
    background-color: #777;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;

    cursor: pointer;
    &:hover {
      // opacity: 1;
      background-color: #999;
    }

  }

  &__ancestryIcon--up {
    width: 8px;

    opacity: 0;
    pointer-events: none;

    &:last-child {
      position: absolute;
      right: -16px;
      top: -4px;

      pointer-events: all;
      opacity: 1;

      width: auto;
      padding: 5px 20px 5px 10px;

      // background-color: #313131;
      background-color: #777;
      color: rgba(255, 255, 255, 0.7);
      border-radius: 5px;

      cursor: pointer;
      &:hover {
        // opacity: 1;
        background-color: #999;
      }
    }
  }
}





// /* Prevent toolbar from being "hoverable" white outside the element */
// .BlockScaffold {
//   & > .BlockScaffold__toolbar-container {
//     pointer-events: none;
//   }

//   &:hover {
//     & > .BlockScaffold__toolbar-container {
//       pointer-events: initial;
//     }
//   }
// }


// Block's option menu contents
.BlockPopover {
  user-select: none;
  display: flex;
  align-items: stretch;

  .tippy-content {
    padding: 0;
  }

  &__item {
    cursor: pointer;
    color: #ccc;
    --ui-item-padding: 8px 12px;

    &:hover {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}