.BlockVisibilityEditor {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;

  // & > details {
  //   @extend .coolDetails;

  //   & > section {
  //     // padding: 6px 24px 24px 24px;
  //     padding: 0 12px;
  //   }
  // }
}