.CmsBlock {
  border: 1px solid transparent; // Prevent margin-collapse outside all CmsBlocks 
}

// !!! TESTING
.CmsBlock.UiInput {
  padding: 16px;
  margin-bottom: 1rem;

  .UiInput__label {
    font-size: initial;
  }
}