/* Default LayoutPageEditor + LayoutRowEditor + BlockEditor theme */

/* Prevent overflows on things when dragging */
.LayoutPageEditor {
  position: relative;

  /* Shadowed wedge on the left side */
  // box-shadow: -9px 0 9px -10px rgba(0, 0, 0, 0.4);

  .RowLauncher {
    cursor: pointer;
    display: inline-flex;
    position: relative;

    &.UiItem, .UiItem {
      position: relative;

      &__icon {
        position: absolute;
        top: 0;
        right: 100%;

        transition: all var(--ui-duration-snap);

        width: 30px;
        height: 30px;

        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        color: #777 !important;
      }

      &__body {
        transition: all var(--ui-duration-snap);

        position: relative;
        margin: 0;
        padding: 4px 0;

        opacity: 0;
        overflow: hidden;
        max-width: 0;
        max-height: 30px;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 0;

          background: var(--ui-color-primary);
          opacity: 0.3;
          pointer-events: none;
        }
      }

      &__text {
        // transition: all var(--ui-duration-snap);
        font-weight: bold;
      }
    }

    &:hover {
      display: flex;

      .UiItem {
        &__icon {
          background-color: var(--ui-color-primary);
          color: #fff !important;
        }
  
        &__body {
          max-width: 100%;
          max-height: 100px;
          opacity: 1;
          padding: 12px 18px;
        }
      }      
    }
  }
}