.CmsStoryBuilder {
  display: flex;
  flex-direction: column;

  &__body {
    flex: 1;

    display: flex;
    flex-wrap: nowrap;
  }

  &__content {
    flex: 1;
  }

  &__sidebar {
    background-color: #525659;

    // must not have padding or borders
    // since this is the CONTAINER side element which shows/hides by setting width:0
    margin: 0;
    padding: 0;

    transition: max-width var(--ui-duration-snap);

    white-space: nowrap;

    &--visible {
      max-width: 180px;
    }

    &--hidden {
      overflow: hidden;
      max-width: 0;
      box-sizing: content-box !important;
    }
  }

  &__pageList {
    padding: 36px 24px;
    padding-right: 12px;
  }

  // Chain of height
  .CmsStory,
  .CmsStory > .CmsStory__container,
  .CmsStory > .CmsStory__container > div,
  .CmsStory > .CmsStory__container > div > .LayoutPage {
    height: 100%;
  }

  .CmsStoryEditor,
  .CmsStoryEditor > div,
  .CmsStoryEditor > div > * {
    height: 100%;
  }

  .CmsStoryEditor .LayoutPageEditor {
    // flex-direction: column;  // centers content vertically when it shouldnt
    // display: flex;
    height: 100%;
  }

  &__expander {
    @extend .ui--clickable;
    margin-left: auto;

    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;

    --ui-item-padding: 8px 16px;
  }

  &__toolbar {
    background-color: #333;
    color: #eee;

    .UiTabs {
      &__header {
        padding: 4px;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: stretch;
    margin: 0 1rem;

    opacity: 1;
    transition: opacity var(--ui-duration-snap);
    &--hidden {
      opacity: 0;
      pointer-events: none;
    }

    .UiPopover__trigger {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__controlItem {
    @extend .ui--clickable;
    border-radius: 4px;

    align-self: stretch;
    min-width: 40px;

    &[disabled=true] {
      cursor: default;
      opacity: 0.4;
      &:hover {
        background-color: transparent;
      }
    }
  }


  &__tabOptions {
    display: flex;
    align-items: stretch;
    padding: 4px;
    gap: 4px;

    font-size: 0.85em;
    --ui-item-padding: 8px 14px;

    overflow-x: auto;
    // min-height: 48px;
  }

  &__tabOptions a {
    @extend .ui--clickable;
    display: flex;
    color: inherit;

    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;

    /* place item icons to the right (order:2) */
    .UiItem {
      &__icon {
        order: 2;
        opacity: 0.4;
        font-size: 0.9em;
      }

      &:hover .UiItem__icon {
        opacity: 1;
      }
    }    
  }

  &__tabItem {
    @extend .ui--clickable;
    user-select: none;

    &--sitemap {
      white-space: nowrap;
      strong {
        color: var(--ui-color-primary);
      }
    }

    &--sitemap-open {
      background-color: var(--ui-color-hover);
    }
  }

  /* icon-less, strong, tab items */
  &__tabItem {
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;

    .UiItem {
      &__icon {
        display: none;
      }
    }
  }
}



// Tabs and options layout in mobile
@media (max-width:500px) {
  .CmsStoryBuilder__toolbar {
    .UiTabs {
      &__header {
        flex-wrap: wrap;
      }

      &__tabList {
        flex: none;
        order: 2;
        width: 100%;

        .UiTab {
          flex: 1;
        }
      }
    }
  }
}


// Sidebar in mobile
@media (max-width:500px) {
  .CmsStoryBuilder {
    &__body {
      position: relative;
    }

    &__sidebar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      overflow-y: auto;
    }
  }
}