.CmsStoryBuilder {
  display: flex;
  flex-direction: column;

  &__body {
    flex: 1;
  }

  // Chain of height
  .CmsStory,
  .CmsStory > .CmsStory__container,
  .CmsStory > .CmsStory__container > div,
  .CmsStory > .CmsStory__container > div > .LayoutPage {
    height: 100%;
  }

  .CmsStoryEditor,
  .CmsStoryEditor > div,
  .CmsStoryEditor > div > * {
    height: 100%;
  }

  .CmsStoryEditor .LayoutPageEditor {
    flex-direction: column;
    display: flex;
    height: 100%;
  }

  &__expander {
    @extend .ui--clickable;
    margin-left: auto;

    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;

    --ui-item-padding: 8px 16px;
  }

  &__toolbar {
    background-color: #333;
    color: #eee;

    .UiTabs__header {
      background-color: rgba(255,255,255, 0.03);
    }
  }

  &__controls {
    display: flex;
    align-items: stretch;
  }

  &__controlItem {
    @extend .ui--clickable;

    min-height: 40px;
    align-self: stretch;
    min-width: 40px;

    &[disabled=true] {
      cursor: default;
      opacity: 0.5;
    }
  }


  &__tabOptions {
    display: flex;
    align-items: stretch;
    padding: 4px;
    gap: 4px;

    font-size: 0.85em;
    --ui-item-padding: 8px 14px;

    overflow-x: auto;
    // min-height: 48px;
  }

  &__tabOptions a {
    @extend .ui--clickable;
    display: flex;
    color: inherit;

    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;

    /* place item icons to the right (order:2) */
    .UiItem {
      &__icon {
        order: 2;
        opacity: 0.4;
        font-size: 0.9em;
      }

      &:hover .UiItem__icon {
        opacity: 1;
      }
    }    
  }

  &__tabItem {
    @extend .ui--clickable;

    &--sitemap {
      white-space: nowrap;

      strong {
        color: var(--ui-color-primary);
      }
    }
  }

  /* icon-less, strong, tab items */
  &__tabItem {
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;

    .UiItem {
      &__icon {
        display: none;
      }
    }
  }
}



// Tabs and options layout in mobile
@media (max-width:500px) {
  .CmsStoryBuilder__controls {
    margin-left: auto;
    order: 1;
  }

  .CmsStoryBuilder__toolbar {
    .UiTabs {
      &__header {
        flex-wrap: wrap;
      }

      &__tabList {
        flex: none;
        order: 2;
        width: 100%;

        .UiTab {
          flex: 1;
        }
      }
    }
  }
}