.CmsSlotEditor {
  // vvuedraggable instance
  & > &__draggable {
    min-width: 100%;
  }

  &--dragging {
    // prevent dragging blocks into droppable elements (like editable texts or file uploads) present in the block
    // // !!! -> What about <draggable> in nested block faces (i.e. LayoutGroupEditor) ?
    .BlockScaffold__face {
      pointer-events: none;
    }

    // .BlockScaffold__face > .tiptap-editor-contents {
    //   pointer-events: none;
    // }


    // .BlockScaffold__face > * {
    //   pointer-events: none;
    // }
    // .BlockScaffold__face > .LayoutGroupEditor {
    //   pointer-events: initial;
    // }
  }

  &__footer {
    padding: 24px 0;

    .SlotBlockLauncher {
      &__trigger {
        justify-content: flex-start;
        padding-left: 20px;
      }
    }
  }
}

.SlotItem {
  position: relative;

  // &__launcher--before {
  //   z-index: 1;
  // }
  &__launcher {
    z-index: 1;
  }

  /* "outline" around editor */
  &__editor {
    &::before {
      content: "";
      display: block;
      position: absolute;
      pointer-events: none;

      border-radius: 2px;
      border: 2px solid var(--ui-color-primary);

      --outline-offset-v: 0;
      --outline-offset-h: 0;

      // Ojo: Hacerlo mas ancho que el bloque puede causar overflows que no queremos
      top: var(--outline-offset-v, -2px);
      bottom: var(--outline-offset-v, -2px);
      left: var(--outline-offset-h, -6px);
      right: var(--outline-offset-h, -6px);
    }
  }
}


/* Hovered/focused: show slotitem outlines and blockscaffold toolbars */

/* OFF/hidden state */
.SlotItem {
  &__editor::before { // outline
    display: none;
  }

  & > .BlockScaffold > .BlockScaffold__toolbar-container { // toolbar
    visibility: hidden;
    z-index: 1;
  }

  &__launcher { // top and bottom launchers
    display: none;
  }
}

/* Focused/Active state */
.SlotItem--active {
  z-index: 1;

  & > .SlotItem__editor::before {  // outline
    display: block;
    border-width: 2px !important;
    opacity: 1 !important;
  }

  & > .BlockScaffold > .BlockScaffold__toolbar-container { // toolbar
    visibility: visible;
  }

  & > .SlotItem__launcher {
    display: block;
  }

  // Show "before" launcher from next SlotItem
  & + .SlotItem > .SlotItem__launcher--before {
    display: block;
  }
}


// Slotitem focused via tabIndex
.SlotItem__editor:focus-visible {
  outline: none;

  &::before {
    display: block;
    border-width: 2px !important;
    // opacity: 0.7 !important;
  }
}


// // The last launcher of the last item is always visible
// .SlotItem:last-child {
//   & > .SlotItem__launcher--after {
//     display: block;
//     // opacity: 0.7;
//   }
// }

// Make sure opened launchers are always visible
.SlotItem {
  &__launcher.SlotBlockLauncher--open {
    display: block;
    opacity: 1 !important;
  }
}




/* Shome -some- parts on hover */
.SlotItem__editor:hover::before {  // outline
  display: block;
  border-width: 1px;
  opacity: 0.5;
}


/* Special case: LayoutGroup */
.SlotItem--is-LayoutGroup {
  // LayoutGroup outline is always visible
  & > .SlotItem__editor::before {
    display: block;
    border-width: 1px;
    opacity: 0.3;
  }

  /* Create a non-displacing horizontal padding inside */
  & > .SlotItem__editor {
    padding: 4px;
    margin-left: -4px;
    margin-right: -4px;
  }
}

/* Hide lone launcher inside ROW UiGroups */
.SlotItem--row {
  .CmsSlotEditor__footer--not-empty {
    display: none;
  }
}
