.LayoutPage {
  position: relative;
  min-height: 100%;
  background-color: var(--ui-color-background);
  color: var(--ui-color-foreground);

  &__contents {
    padding: 12px;
    margin: auto;
    max-width: var(--ui-content-width);
  }
}