.StmtOp {
  border: 1px outset #555;
  border-left: 0;
  border-right: 0;

  ::marker {
    font-size: 12px;
  }

  & > summary {
    @extend .ui--clickable;

    position: relative;
    user-select: none;
    padding: 12px 16px;
  }

  & > section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 8px 8px 26px 26px;
  }

  &__field {
    min-width: 25%;
  }

  &__arguments {
    flex: 1;
  }
}