.FetchEditor {
  &__row {
    display: flex;
    & > :nth-child(2) {
      flex: 1;
      input {
        width: 100%;
      }
    }
  }
}

.StmtChain {
  position: relative;

  &__adder {
    .VmExpressionPicker__item {
      @extend .ui--clickable;

      border-radius: 4px;
      --ui-item-padding: 8px 12px;
    }
  }
}


.StmtChainItem {
  border: 0;
  border-radius: 4px;
  background-color: rgba(255,255,255, 0.08);
  margin-bottom: 6px;

  
  &__actionIcon {
    @extend .ui--clickable;
    width: 32px;
    height: 32px;
  }

  &__face {
    .UiItem {
      &__body {
        padding-left: 8px;
      }

      &__subtext {
        color: var(--ui-color-primary);
        font-size: 13px;
        font-weight: 600;

        &::before {
          content: ' → ';
          color: #fff;
        }
      }
    }

  }

  &__paths {
    padding-left: 16px;
  }

  &__path {
    & > label {
      font-size: 14px;
      font-weight: 600;
      display: block;
      margin: 6px 0;
    }
  }

  &__pathBody {
    padding: 8px;
    padding-left: 12px;
  }

  &--endangered {
    background-color: rgba(255, 0, 0, 0.2);
  }

  &__assign {
    margin-top: 8px;
    em {
      color: var(--ui-color-primary);
      font-style: normal;
      font-weight: 600;
      margin-left: 0.3rem;
    }
  }
}