  //// !!! TESTING!!!  HIDE ICONS INSIDE .UiWindow tabs
  .UiWindow .UiTab {
    .UiItem {
      height: 46px;

      &__icon {
        display: none;
      }

      &__body {
        padding: 8px 16px !important;
      }
    }
  }